
/* welcome section */

.welcome {
  width: 100vw; 
  /* Asigură-te că ocupă toată lățimea ferestrei */
  margin-left: calc(50% - 50vw); 
  /* Scoate secțiunea din containerul aliniat 
  50%: Te poziționezi la jumătatea containerului părinte (de exemplu, un container care limitează lățimea).
  50vw: Te muți înapoi cu jumătate din lățimea ferestrei, astfel încât secțiunea ta să fie centrată pe fereastră și nu pe containerul părinte.*/
  gap: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 60vh;
  background-color: var(--bg-primary);
  position: relative;
  z-index: 1;
}

.welcome h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
  font-weight: 300;
  line-height: 1.21;
}

/* main */

main {
  padding-top: 0px;
  width: 100%;
  max-width: min(1240px, 100vw);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* courses section */

.courses h2, .courses .courses-container  {
  margin-bottom: var(--spacing-large);
}

.courses h2, .courses .main-paragraph {
  text-align: center;
}

.courses .main-paragraph {
  margin-bottom: 70px;
}

.courses h2 {
  padding-top: var(--spacing-large);
  color: var(--text-primary);
  font-size: 1.75rem;
}

.courses .courses-container {
  display: flex;
}

.courses .course-wrapper {
  width: calc(100% / 4);
  padding-right: var(--spacing-small);
  padding-left: var(--spacing-small);
}

.courses .course {
  display: flex;
  flex-direction: column;
  height: 350px;
  max-width: 28rem;
  box-shadow: rgba(25, 30, 48, 0.1) 0px 2rem 4rem 0px;
  background-color: rgb(253, 253, 253);
  position: relative;
  width: 100%;
  border-radius: 20px;
  margin-bottom: var(--spacing-medium);
}

.courses .content {
  padding: 0 var(--spacing-small);
}

.course h3, .course .details-description, .course a, .course .content-description {
  padding: 0px 10px;
  margin-bottom: var(--spacing-small);
}

.course h3 {
  padding-top: 10px;
}

.courses a {
  cursor: pointer;
  width: fit-content;
  padding: 0px 4.8rem;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 2.4rem;
  min-width: 150px;
  height: 40px;
  transition: 0.25s ease-in;
  border: 1px solid rgb(0, 135, 104);
  color: rgb(0, 135, 104);
  background-color: white;
  }

.courses a:hover {
  opacity: 0.8;
  background-color: rgb(0, 135, 104);
  color: white;
}

.course h5 {
  font-family: 'Asap', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.22;
  text-align: left;
  color: rgb(25, 30, 48);
}

.courses .content-description {
  font-size: var(--fs-medium);
  color: #666;
  font-family: 'Asap', sans-serif;
  line-height: 1.33;
}

.course .details-description.first-title {
  padding-bottom: 75px;
}

.course .details-description.second-title {
  padding-bottom: 75px;
}

.course .details-description.third-title {
  padding-bottom: 20px;
}

.course .details-description.fourth-title {
  padding-bottom: 20px;
}

@media (max-width:760px) {
  body, html {
    width: 100vw;
    overflow-x: hidden;
  }
  
  .welcome h1 {
    font-size: 30px;
    padding-top: 30px;
   }
 
   .welcome {
     height: 35vh;
   }

   .courses .courses-container {
    flex-direction: column;
   }

  .courses .course-wrapper {
    width: 100%;
    padding-bottom: 10px;
  }

  .courses .course {
    height: auto;
  }

  .course .details-description.first-title {
    padding-bottom: 10px;
  }

  .course .details-description.second-title {
    padding-bottom: 10px;
  }

  .courses .content {
    padding-bottom: 20px;
  }

  .courses .main-paragraph {
    font-size: var(--fs-large);
    line-height: 1.7;
    text-align: left;
  }

  .courses h2 {
    text-align: left;
  }

  .container.grid {
    padding-top: 50px;
  }
}